<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mbticlub">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity android:name=".LoginScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignupScreen" />
        <activity android:name=".hotListview" />
        <activity android:name=".MainActivity" />
        <activity android:name=".PostActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:scheme="@string/kakao_scheme"
                    android:host="@string/kakaolink_host"/>
            </intent-filter>


        </activity>
        <activity android:name=".infoList" />
        <activity android:name=".Favorite_list" />
        <activity android:name=".PostlistActivity" />
        <activity android:name=".QuestionActivity" />
        <activity android:name=".PostRegister" />
        <activity android:name=".FragCoin" />
        <activity android:name=".friends_list" />
        <activity android:name=".FragArticle" />
        <activity android:name=".FragSubscribe" />
        <activity android:name=".FragMyInfo" />
        <activity android:name=".FragSurvey" />
        <activity android:name=".frag1_comment"/>
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>